p {
  color: blueviolet;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-style: italic;
  background-color: aliceblue;
  font-size: x-large;
  padding-left: 21%;
}

img {
  border: 0cap;
  border-radius: 0%;
  padding-left: 30%;
}
